# Node modules
node_modules/

# Bot Sessions

bot_sessions/

# Log files
*.log

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# VS Code directories
.vscode/

# MacOS Finder files
.DS_Store


#db
db.json


#Firestore Credentials
config/*.json
