.bg-login
.form-container
    .form-section
        h1 Inicia Session
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime dicta modi voluptates mollitia sapiente? 

        form#loginForm
            .input-group
                .input-container
                    i.fas.fa-user
                    input(type="text" id="username" name="username", placeholder="Usuario" required)
            .input-group
                .input-container
                    i.fa.fa-key
                    input(type="password" id="password" name="password", placeholder="Contraseña" required)
            button.button-primary(type="submit") Iniciar sesión

